In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("BRFSS.csv")
df.head()

/home/anthony/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (170) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,X_PSU,CTELENM1,...,X_PA300R2,X_PA30021,X_PASTRNG,X_PAREC1,X_PASTAE1,X_RFSEAT2,X_RFSEAT3,X_FLSHOT6,X_PNEUMO2,X_AIDTST3
0,1,1,1302017,1,30,2017,1100,2017000001,2017000001,1.0,...,1,1,1,1,1,1,1,1.0,1.0,1.0
1,1,1,1122017,1,12,2017,1100,2017000002,2017000002,1.0,...,1,1,1,1,1,1,1,1.0,1.0,1.0
2,1,1,1102017,1,10,2017,1100,2017000003,2017000003,1.0,...,3,2,2,4,2,1,1,1.0,1.0,2.0
3,1,1,2082017,2,8,2017,1200,2017000004,2017000004,1.0,...,9,9,9,9,9,9,9,9.0,9.0,NaN
4,1,1,1302017,1,30,2017,1100,2017000005,2017000005,1.0,...,3,2,2,4,2,1,2,2.0,2.0,2.0

In [3]:
# 
pd.set_option('display.max_columns', 10)
#df.head()
#df.groupby('LADULT').count()
#df[['PHYSHLTH','GENHLTH']].head()

#df[df['X_STATE'] == 44].groupby('CHOLCHK1').count()
#df['X_STATE'].value_counts()
#df.groupby('VETERAN3').count()
RIDf = df[(df['X_STATE'] == 44)]
#femaleDf = df[(df['SEX'] == 2)]


#df.groupby('GENHLTH').count()['PHYSHLTH']

In [6]:
RIDf.groupby('ADDEPEV2').count()['IDATE']

ADDEPEV2
1.0    1315
2.0    4287
7.0      24
9.0       6
Name: IDATE, dtype: int64

In [8]:
ratioAr = RIDf.groupby('ADDEPEV2').count()['IDATE'].values
rat = ratioAr[0]/(ratioAr[0]+ratioAr[1])
rat

0.2347375937165298

In [7]:
resList = []
topic = 'ADDEPEV2'
for state in df['X_STATE'].unique():
    tmpDf = df[(df['X_STATE'] == state)]
    ratioAr = tmpDf.groupby(topic).count()['IDATE'].values
    if len(ratioAr) == 0:
        continue
    rat = (ratioAr[0])/(ratioAr[0]+ratioAr[1])
    resList.append([rat,state])
resList.sort()
resList

[[0.09700996677740864, 66],
 [0.13619330662876342, 15],
 [0.1375908618899273, 11],
 [0.16213508872352606, 46],
 [0.16360672614962252, 34],
 [0.1641041732036398, 2],
 [0.1649209283220374, 8],
 [0.16644562334217505, 13],
 [0.17147540983606557, 36],
 [0.17429350164969157, 38],
 [0.17432188065099458, 17],
 [0.1780565936999466, 32],
 [0.17911547911547912, 48],
 [0.17981567422707367, 31],
 [0.18129988597491448, 9],
 [0.18271391529818495, 55],
 [0.18322590205230793, 24],
 [0.18430630368321443, 25],
 [0.18606461658232776, 4],
 [0.19159811985898942, 27],
 [0.1924757281553398, 10],
 [0.19248523886205046, 6],
 [0.19271182651464341, 72],
 [0.19554556599918269, 37],
 [0.19594947280509448, 51],
 [0.196223870532704, 56],
 [0.1979370675022849, 19],
 [0.19802989130434784, 30],
 [0.1986648865153538, 45],
 [0.20051464766429136, 28],
 [0.20127001656543347, 20],
 [0.20173081302664542, 12],
 [0.20414428242517269, 42],
 [0.2067219152854512, 35],
 [0.21423318898602828, 39],
 [0.2162979769332577, 5],
 [0.21789845128406196, 49],
 [0.21862524497350658, 18],
 [0.21981505944517835, 29],
 [0.22101374923045353, 16],
 [0.22181436811746197, 33],
 [0.22724861710994923, 53],
 [0.22738275340393344, 40],
 [0.2281178190933779, 22],
 [0.2284521324187295, 1],
 [0.22990412979351033, 26],
 [0.2347375937165298, 44],
 [0.23759153783563874, 21],
 [0.23839939883524328, 41],
 [0.23850663375501388, 50],
 [0.2418188081295212, 47],
 [0.2494570276140242, 23],
 [0.25973548861131524, 54]]